.response-buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.response-button {
  cursor: pointer;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em 1em;
}

h2 {
  text-transform: none;
}

.response-button:hover {
  background-color: #f6f1ed;
}

.response-button.selected {
  background-color: #f6f1ed;
}

.rsvp-tiles {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.rsvp-tile {
  cursor: pointer;
  height: 12em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0em 1em;
}

.rsvp-tile:hover {
  background-color: #f6f1ed;
}

.rsvp-tile h4 {
  text-transform: none;
  font-size: 1em;
  margin-bottom: 0em;
  margin-top: 1em;
}

.rsvp-tile p {
  line-height: 0.5em;
  margin-bottom: 0;
}

.page-body form {
  margin-top: 1em;
  width: 25em;
}

.response-button p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  max-width: 90%;
}

.response-button:hover p {
  color: #185945;
}

.response-button.selected p {
  color: #185945;
}

.rsvp-field {
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  margin: 0;
}

.rsvp.text-field input {
  color: #4b4745;
}

.address-label {
  font-size: 2em;
}

.rsvp.field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.stepper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 22em;
}

.rsvp-page h4 {
  margin: 1em;
}

.submitted {
  display: flex;
  flex-direction: column;
}

.submitted h5 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
}

.regret-button {
  margin: 2em 0 0.5em 0;
}

.rsvp-field .form-label {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.loading-spinner {
  height: 10em;
  display: flex;
  justify-content: center;
  padding-top: 4em;
}

.sub-header.rsvp {
  height: 10em;
}

.rsvp.name-label {
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .sub-header.rsvp {
    height: 6em;
  }

  .rsvp.name-label {
    font-size: 1.5em;
  }

  .page-body.small {
    width: 90%;
  }

  .rsvp.response-button {
    height: 10em;
    width: 10em;
  }

  .rsvp.response-button p {
    font-size: 0.8em;
  }

  .rsvp-field .form-label {
    font-size: 1.1em;
    margin-top: 0.5em;
  }

  .stepper-content {
    min-height: 14em;
    justify-content: flex-start;
  }

  .address-label {
    font-size: 1.5em;
  }

  .stepper-content h4 {
    font-size: 0.9em;
    margin: 0.5em;
  }

  .page-body form {
    margin-top: 1em;
    width: 100%;
  }
}
