.response-buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.response-button {
  cursor: pointer;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em 1em;
}

.response-button:hover {
  background-color: #e9dfd7;
}

.response-button.selected {
  background-color: #e9dfd7;
}
